<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员登录</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <!-- load css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" media="all">
    <link rel="stylesheet" type="text/css" href="css/font/iconfont.css" media="all">
    <link rel="stylesheet" type="text/css" href="css/layui.css" media="all">
    <link rel="stylesheet" type="text/css" href="css/main.css" media="all">
</head>

<body>
    <div class="container-fluid larry-wrapper">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-4 col-md-offset-4 col-sm-offset-2 ">
                <section class="panel panel-padding login-pane">
                    <h1 class="head-title">管理员登录</h1>
                    <form class="layui-form layui-form-pane" action="__URL__/login" method="post">
                        <div class="layui-form-item">
                            <label class="layui-form-label"><i class="iconfont">&#xe608;</i> 管理员</label>
                            <div class="layui-input-block">
                                <input type="text" name="username" required jq-verify="required" placeholder="管理员帐号" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label"><i class="iconfont">&#xe644;</i> 密&nbsp; &nbsp;码</label>
                            <div class="layui-input-block">
                                <input type="password" name="password" required jq-verify="required" placeholder="登录密码" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label"><i class="iconfont">&#xe60b;</i> 验证码</label>
                            <div class="layui-input-block">
                            <div class="layui-input-inline" style="width:150px;">
                                <input type="text" name="captcha" required jq-verify="required" placeholder="验证码" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-input-inline" style="width:120px;" > <img src="{:captcha_src()}" alt="" /></div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" jq-submit jq-filter="submit">立即登录</button>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</body>
<script src="js/layui/layui.js"></script>
<script>
    layui.config({
        base: 'js/',
        version: "1.3.3"
    }).extend({
        elem: 'jqmodules/elem',
        tabmenu: 'jqmodules/tabmenu',
        jqmenu: 'jqmodules/jqmenu',
        ajax: 'jqmodules/ajax',
        dtable: 'jqmodules/dtable',
        jqdate: 'jqmodules/jqdate',
        modal: 'jqmodules/modal',
        tags: 'jqmodules/tags',
        jqform: 'jqmodules/jqform',
        echarts: 'lib/echarts',
        webuploader: 'lib/webuploader'
    })
</script>
<script>
    layui.use('simpleform');
</script>

</html>